"*":
  "atom-increment":
    stringsOfSameSize: false
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "55c37390-a77c-4dcb-a83b-769edda351af"
  welcome:
    showOnStartup: false
